.cover__subtitle{
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0;
    width: 360px;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin: 16px auto 0;
    }
}