.cover__title{
    font-family: 'Inter bold';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 312px;
    top: 245px;
    width: 560px;
}


@media screen and (max-width: 1280px) {
    .cover__title{
        left: 232px;
        top: 195px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__title{
        left: 104px;
        top: 115px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        left: 16px;
        top: 33px;
        width: 288px;
    }
}