.header__link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter','Arial, sans-serif';
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
}

.header__link:last-child{
    margin-right: 0;
}

.header__link:hover{
    text-decoration: underline;
}


@media screen and (max-width: 767px) {
    .header__link{
        font-size: 18px;
        line-height: 20px;
    }
}
