.header__link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter Regular';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    max-width: 29px;
    height: 28px;
    margin-bottom: 6px;
}




@media screen and (max-width: 768px) {
    .header__link{
        font-size: 18px;
        line-height: 20px;
        max-width: 22px;
        height: 20px;
        margin-bottom: 8px;
    }
}
