.lead__title{
    margin:0 auto 32px auto;
    width: 720px;
    font-family: 'Inter Black';
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 768px) {
    .lead__title{
        margin:0 auto 16px auto;
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}