.place__website_url-heading{
    font-family: 'Inter extralight';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0 0 12px 0;
}