.cover__title{
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    width: 560px;
    z-index: 1;
    font-weight: 900;
}


@media screen and (max-width: 1279px) {
    .cover__title{
        left: 232px;
        top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title{
        left: 104px;
        top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        left: 16px;
        top: 33px;
        width: 288px;
    }
}